.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  top: 0;
  left: 50%;
  width: 100%;
  max-height: 80vh;
  padding: 1.8rem 2rem 2rem 2rem;
  box-shadow: rgba($dark, 0.2) 0 0 1rem 0.1rem;
  border-radius: 0.5rem;
  z-index: 100;
  background-color: rgba($primary, 0.95);
  color: $dark;
  box-sizing: border-box;
  transform-origin: bottom center;
  transform: translate(-50%, -100%) scale(0.9);
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s;
  visibility: hidden;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: $secondary white;
  scrollbar-width: thin;

  @include respond-to($bp-small) {
    width: 90%;
  }

  &.visible {
    transition: visibility 0s, opacity 0.2s, transform 0.2s;
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -100%) scale(1);
  }

  &__header {
    flex-grow: 1;
    display: flex;
    flex-wrap: no-wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($dark, 0.3);
    margin-bottom: 2rem;
  }

  &__logo {
    height: 2rem;
  }

  &__title {
    align-self: center;
  }

  &__subtitle {
    font-weight: 600;
    text-align: left;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  &__small-text {
    font-size: 1.2rem;
    @include respond-to($bp-small) {
      font-size: 1rem;
    }
  }

  &__link {
    text-decoration: underline;
    color: inherit;
    transition: color 0.1s;
    &:hover {
      color: $secondary-dark;
    }
  }

  &__button {
    background-color: $secondary;
    color: $dark;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    align-self: flex-start;
    transition: color 0.1s, opacity 0.1s;
    text-decoration: none;
    margin-bottom: 1.2rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &:hover {
      opacity: 0.9;
      color: $darkest;
    }
    &:active {
      transform: scale(0.98);
    }
  }

  p:not(:last-child),
  ul:not(:last-child),
  ol:not(:last-child) {
    margin-bottom: 1rem;
  }
}
