@import "variables/colors";
@import "variables/fonts";

@import "base/reset";
@import "base/responsive";
@import "base/keyframes";

@import "components/modal";
@import "components/footer";
@import "components/fof";

*::selection {
  background: $secondary;
}

body {
  background-color: $primary;
  font-family: "PT mono", "monospace";
}

.page {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] minmax(25rem, 55rem) [content-end] 1fr [full-end];
  grid-template-rows: [full-start] 30vh [content-start] min-content [content-end] 1fr [footer-separator] min-content [full-end];
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.main {
  grid-row: content-start / content-end;
  grid-column: content-start / content-end;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include respond-to($bp-small) {
    padding: 0 2rem;
    font-size: 1.2rem;
  }

  &__logo {
    display: block;
    width: auto;
    margin: 0 5rem;
    animation: entry-slide-right 1s ease-out;
    @include respond-to($bp-small) {
      margin: 0 2rem;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    animation: entry-slide-left 1s ease-out;
    z-index: 10;
  }

  &__url-input,
  &__button,
  &__error,
  &__response {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    border-radius: 4rem;
    height: 4rem;
  }

  &__url-input-wrapper {
    position: relative;
    overflow: hidden;
    height: 4rem;
    flex-grow: 1;
    @include respond-to($bp-small) {
      width: 100%;
    }
  }

  &__url-input-cutoff {
    box-sizing: border-box;
    position: absolute;
    height: 5rem;
    width: 5rem;
    background-color: $primary;
    border-radius: 5rem;
    top: 50%;
    right: 0;
    transform: translate(70%, -50%);
    @include respond-to($bp-small) {
      display: none;
    }
  }

  &__url-input {
    width: 100%;
    padding: 0 2rem;
    border: none;
    box-sizing: border-box;
    color: $dark;
    border-radius: 4rem 0 0 4rem;
    display: block;
    position: relative;

    &:hover,
    &:focus {
      opacity: 0.9;
    }
    &:invalid {
      border: none;
      box-shadow: none;
    }

    @include respond-to($bp-small) {
      padding: 0 2rem;
      border-radius: 4rem;
    }
  }

  &__button {
    border: none;
    padding: 0 2.5rem;
    background-color: $secondary-dark;
    box-sizing: content-box;
    color: $dark;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.1s;
    cursor: not-allowed;

    &.active {
      background-color: $secondary;
      cursor: pointer;
      opacity: 1;
      &:hover {
        opacity: 0.9;
        color: $darkest;
      }
      &:active {
        transform: scale(0.98);
      }
    }

    @include respond-to($bp-small) {
      margin-top: 2rem;
      position: relative;
      padding: 0 4rem;
    }
  }

  &__error {
    padding: 0 1.5rem 0 2rem;
    box-sizing: border-box;
    color: $dark;
    width: 100%;
    display: block;
    margin-top: 2rem;
    background-color: #fbe9df;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    animation: error-appear 0.5s;

    @include respond-to($bp-small) {
      padding: 0 2rem;
    }

    &__button {
      border: none;
      border-radius: 1rem;
      background-color: $error-dark;
      height: 1.5rem;
      width: 1.5rem;
      cursor: pointer;

      &:hover {
        transform-origin: center;
        transform: scale(1.1);
      }
    }
  }

  &__response {
    order: 3;
    padding: 0 2rem;
    border: none;
    position: relative;
    box-sizing: border-box;
    color: $dark;
    width: 100%;
    display: block;
    margin-top: 2rem;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    animation: response-appear 0.3s ease-out;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.99);
    }

    @include respond-to($bp-small) {
      padding: 0 2rem;
    }
  }

  &__message {
    color: $secondary-dark;
    margin-top: 2rem;
    padding: 0 2rem;
    text-align: center;
  }
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  z-index: 5;
  flex-wrap: wrap;
  order: 2;

  &__dot-container {
    width: 7rem;
    display: flex;
    justify-content: space-between;
  }

  &__dot {
    border-radius: 5rem;
    width: 1.4rem;
    height: 1.4rem;
    background-color: $secondary;
    transform: translateY(-4rem);

    &:nth-child(1) {
      animation: dot-drop 1s ease-in 0s forwards,
        dot-blink 2s linear 1s infinite;
    }
    &:nth-child(2) {
      animation: dot-drop 1s ease-in 0.2s forwards,
        dot-blink 2s linear 1.2s infinite;
    }
    &:nth-child(3) {
      animation: dot-drop 1s ease-in 0.4s forwards,
        dot-blink 2s linear 1.4s infinite;
    }
  }
}

.click-popup {
  position: absolute;
  font-size: 1.2rem;
  color: $dark;
  white-space: nowrap;
  color: $secondary-dark;
  background-color: transparent;
  border-radius: 1rem;
  padding: 0;
  cursor: pointer;
}
