@import 'colors';
@import 'reset';
@import 'fonts';
@import 'responsive';

*::selection{
  background: $secondary;
}

body {
  background-color: $primary;
  font-family: 'PT mono', 'monospace';
}

.page {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] minmax(30rem, 55rem) [content-end] 1fr [full-end];
  grid-template-rows: [full-start] 1fr [content-start] min-content [content-end] 1.5fr [footer-separator] min-content [full-end];
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main {
  grid-row: content-start / content-end;
  grid-column: content-start / content-end;

  &__logo {
    display: block;
    width: auto;
    margin: 0 5rem;
    animation: entry-slide-right 1s ease-out;
    @include respond-to($bp-small){
      margin: 0 2rem;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    animation: entry-slide-left 1s ease-out;
  }

  &__url-input,
  &__button {
    font-size: inherit;
    letter-spacing: inherit;
    border-radius: 4rem;
    height: 4rem;
    @include respond-to($bp-small){
      margin: 0 2rem;
    }
  }

  &__url-input {
    padding: 0 13rem 0 2rem;
    border: none;
    box-sizing: border-box;
    color: $dark;
    width: 100%;
    display: block;
    &:hover,
    &:focus {
      opacity: 0.9;
    }
    @include respond-to($bp-small){
      padding: 0 2rem;
    }
  }

  &__button {
    padding: 0 2.5rem;
    border: none;
    background-color: $secondary;
    position: absolute;
    right: -1rem;
    top: 50%;
    transform: translateY(-50%);
    border: 1rem $primary solid;
    box-sizing: content-box;
    color: rgba($darkest, 0.8);
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.9;
      color:$darkest;

    }

    @include respond-to($bp-small){
      margin-top: 2rem;
      position: relative;
      transform: translate(0);
      border: none;
      right:0;
      padding: 0 4rem;
    }

  }
}

.footer {
  grid-row: footer-separator / full-end;
  grid-column: content-start / content-end;
  font-size: 1.2rem;
  position: relative;

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link-text {
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    color: $dark;
    &:hover{
      color:$darkest;
    }
  }
}

.modal{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-100%);
  width: 100%;
  padding: 2rem;
  box-shadow: rgba($dark,0.2) 0 0 1rem 0.1rem;
  border-radius: 0.5rem;
  z-index: 100;
  background-color: rgba($primary,0.8);
  color: $dark;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__header{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($dark,0.3);
    margin-bottom: 2rem;
  }

  &__logo{
    height: 2rem;
  }

  &__title{
    align-self: center;
  }

  p{
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  a{
    text-decoration: none;
    background-color: $secondary;
    color: $dark;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    display: block;
    align-self: flex-start;
    transition: 0.2s;
    &:hover {
      opacity: 0.9;
      color:$darkest;
    }
  }

  a:not(:last-child)
  ,p:not(:last-child)
  ,ul:not(:last-child)
  ,ol:not(:last-child){
    margin-bottom: 1rem;
  }
}

@keyframes entry-slide-right {
  from {
    transform: translate(-10%, 0);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes entry-slide-left {
  from {
    transform: translate(10%, 0);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}