<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div class="page">
    <main class="main">
      <img src="<%= require('./images/oorlu_full.svg') %>" alt="" class="main__logo">
      <form action="" class="main__form">
        <input class="main__url-input" type="url" name="url">
        <input type="submit" class="main__button" value="submit">
      </form>
    </main>
    <footer class="footer">
      <nav>
        <ul class="footer__links">
          <li class="footer__link-text" id="about-button">
            About
          </li>
          <li class="footer__link-text" id="more-button">
            More
          </li>
        </ul>
      </nav>
      <div class="modal" id="about-modal">
        <div class="modal__header">
          <h4 class="modal__title">About Oor.lu</h4>
          <img src="<%= require('./images/icon_transparent.png') %>" alt="" class="modal__logo">
        </div>

        <p> This is a very very sleek app by Adam and Dalius bla bla bla. This is a very very sleek app by Adam and Dalius bla bla bla.This is a very very sleek app by Adam and Dalius bla bla bla</p>
        <p>Wow nice amazing</p>
        <p>beep beep</p>

        <a href="http://oor.lu/" target="_blank">Link one</a>
        <a href="http://oor.lu/" target="_blank">Another link </a>

      </div>
      <div class="modal" id="more-modal">
        <div class="modal__header">
          <h4 class="modal__title">More amazing info :O</h4>
          <img src="<%= require('./images/icon_transparent.png') %>" alt="" class="modal__logo">
        </div>

        <p> This is another modal with more info wooooooow bla bla.This is a very very sleek app by Adam and Dalius bla bla bla</p>
        <p>Wow nice amazing</p>
        <p>( ͡° ͜ʖ ͡°)</p>

        <a href="http://oor.lu/" target="_blank">More info here</a>

      </div>
    </footer>
  </div>
</body>

</html>