<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div class="page">
      <main class="main" id="main">
        <img
          src="<%= require('./images/oorlu_full.svg') %>"
          alt=""
          class="main__logo"
        />
        <form action="" class="main__form" id="main-form">
          <span class="main__url-input-wrapper">
            <input class="main__url-input" type="url" name="url" />
            <div class="main__url-input-cutoff"></div>
          </span>
          <input type="submit" class="main__button active" value="shorten" />
        </form>
      </main>

      <footer class="footer">
        <nav>
          <ul class="footer__links">
            <li class="footer__link-text" id="about-button">About</li>
            <li class="footer__link-text" id="support-button">Support Us</li>
            <li class="footer__link-text" id="privacy-button">
              Privacy Policy
            </li>
          </ul>
        </nav>
        <p class="footer__text">
          © 2021 oor.lu Handmade in LT, Kaunas. All rights reserved
        </p>
        <div class="modal" id="about-modal">
          <div class="modal__header">
            <h4 class="modal__title">About oor.lu - free url shortener.</h4>
            <img
              src="<%= require('./images/oorlu_icon.svg') %>"
              alt="oor.lu"
              class="modal__logo"
            />
          </div>
          <h5 class="modal__subtitle">Backend:</h5>
          <p>
            This url shortener was created with
            <a
              class="modal__link"
              href="https://www.django-rest-framework.org/"
              title="Django REST"
              target="_blank"
              >django-REST (Python)</a
            >. It utilizes combined powers of
            <a
              class="modal__link"
              href="https://www.postgresql.org/"
              title="PostgreSQL"
              target="_blank"
              >PostgreSQL</a
            >
            and
            <a
              class="modal__link"
              href="https://redis.io/"
              title="Redis"
              target="_blank"
              >Redis cache</a
            >
            for improved performance. Requirments of the project can be found
            <a
              class="modal__link"
              href="https://www.dropbox.com/s/2yqy7uvhjeb7f0i/URLShortener-DjangoTask.rst?dl=0"
              title="Project Requirments"
              target="_blank"
              >here</a
            >.
          </p>
          <div class="modal__buttons-container">
            <a
              class="modal__button"
              style="margin-right: 1rem"
              href="https://www.linkedin.com/in/adamwojtczak/"
              title="Adam Wojtczak"
              target="_blank"
              >© Adam Wojtczak</a
            >
            <a
              class="modal__button"
              style="margin-right: 1rem"
              href="https://github.com/adamwojt/ur_l"
              title="source code"
              target="_blank"
              >Source Code</a
            >
            <a
              class="modal__button"
              style="margin-right: 1rem"
              href="https://oor.lu/api/docs/"
              title="docs"
              target="_blank"
              >API Docs</a
            >
            <a
              class="modal__button"
              href="https://github.com/adamwojt/oorlu-cli"
              title="oorlu-cli"
              target="_blank"
              >oorlu-CLI</a
            >
          </div>
          <h5 class="modal__subtitle">Frontend:</h5>
          <p>
            Designed with simplicity and code independence in mind, requiring
            zero dependencies to run. This ensures best possible performance of
            the app. JS and SCSS packaging was achieved using
            <a
              class="modal__link"
              href="https://webpack.js.org/"
              target="_blank"
              >WebPack module bundler.</a
            >
          </p>

          <div class="modal__buttons-container">
            <a
              class="modal__button"
              href="https://dalius.digital"
              title="Dalius Slavickas"
              target="_blank"
              >© Dalius Slavickas</a
            >
            <a
              class="modal__button"
              href="https://github.com/Daliuxas200/oorlu/"
              title="Dalius Slavickas"
              target="_blank"
              >Source Code</a
            >
          </div>
        </div>
        <div class="modal" id="support-modal">
          <div class="modal__header">
            <h4 class="modal__title">Donate</h4>
            <img
              src="<%= require('./images/oorlu_icon.svg') %>"
              alt="oor.lu"
              class="modal__logo"
            />
          </div>
          <p>
            oor.lu will always be free. Donations are welcome to help us with
            hosting:
          </p>
          <h5 class="modal__subtitle">Bitcoin:</h5>
          <p class="modal__small-text">1A7bNMZsds9MYDntWY58SjxUq3r2rYr7Gq</p>
          <h5 class="modal__subtitle">ETH:</h5>
          <p class="modal__small-text">
            0x79f6fdbb0f611fa50e559e1b452e02953808f842
          </p>
        </div>
        <div class="modal" id="privacy-modal">
          <div class="modal__header">
            <h4 class="modal__title">Privacy Policy</h4>
            <img
              src="<%= require('./images/oorlu_icon.svg') %>"
              alt="oor.lu"
              class="modal__logo"
            />
          </div>
          <h5 class="modal__subtitle">Cookies</h5>
          <p>
            We use Google Analytics to to help monitor the website thus _ga
            cookie is stored. In order to store your consent of _ga cookie we
            also use technical cookie hasConsent. You can inspect or delete your
            cookies by going to Storage Inspector in your browser (Shift + F9 on
            most browsers).
          </p>
          <h5 class="modal__subtitle">Creating short link</h5>
          <p>
            Creating short link creates record in database that stores long url
            and datetime when created, we do not gather any additional
            information about user. When you create a Oorlu Link, the original
            URLs you have shortened and the corresponding Oorlu Links are
            publicly available for those that have short links (random 7 char
            token), example: oor.lu/xYCTiiI.
          </p>
          <p>
            Do not use Oor.lu for confidential information. We will do our best
            to protect long links we store but there is no ultimate protection
            and such things as brute force attacks (someone trying out
            combinations of url tokens many times) may happen that could expose
            your long link to someone that you didn't share short url with.
          </p>
          <p>
            We reserve right to delete links if we see they are leading to any
            malicious websites and in general we do not guarantee that any link
            will persist in our database.
          </p>
          <p>
            You can contact us via social media, see `About` menu if you want to
            delete link you posted - we will do our best to help you.
          </p>
          <h5 class="modal__subtitle">Opening short link</h5>
          <p>
            Upon opening oorlu short link we store IP, datetime and HTTP referer
            as part of statistics. These are to monitor network load and
            performance of website and to identify any spam / malicious use.
            Currently this info is not available for public users.
          </p>
          <p>
            Upon clicking we redirect you to long url that was entered when
            creating link.
          </p>
          <h5 class="modal__subtitle">IMPORTANT</h5>
          <p>
            Under no circumstances we are responsible for contents of long url
            website author of short link has provided. If you want to see where
            short url leads prior to opening it you can go to
            https://oor.lu/{token}/examine where token is 7 char long from short
            link, example:
            <a class="modal__link" href="https://oor.lu/tXVM8w0/examine"
              >oor.lu/tXVM8w0/examine</a
            >
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
